.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.error-message {
  color: red;
}

.emailgroup,
.passwordgroup {
  margin-bottom: 20px;
}

.emailbox,
.passwordbox {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.emailtext,
.passwordtext {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.btnsignup,
.btnlogin {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btnsignup:hover,
.btnlogin:hover {
  background-color: #0056b3;
}

.acctext {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}

.usernamegroup {
    margin-bottom: 20px;
  }
  
  .usernamebox {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .usernametext {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }